/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.brand-logo{
font-family: 'Sacramento', Arial, sans-serif;
font-size: 2.8rem;
position: relative;
}
.brand-logo p{
margin: -5px;
line-height: 2.35em;

}
#index-banner{
display:flex;
align-items:center;
}
/*containers*/
.party-container{
height:750px;
display:flex;
width:100%;
}
.party-container .section{
width:82%;
}
.picture-div{
height:100%;
width:45%

}
.diamond{
  position:relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  margin: 3px 0 0 30px;
  border: 6px solid rgba(255,255,255,1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #bac0be;
  -webkit-box-shadow: 0 1px 5px 2px rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.2) ;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(-45deg)   ;
  -webkit-transform-origin: 0 100% 0deg;
  transform-origin: 0 100% 0deg;
  overflow: hidden;
  cursor: pointer;
}
.pic1{
 
}
.pic1:before {
	content: "";
    position: absolute;
    width: 147%;
    height: 161%;
    top: -24px;
    left: -20px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/kristin-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
}
.pic2{
    margin-left: -41px;
    margin-top: -19px;
}

.pic2:before {
    content: "";
    position: absolute;
    width: 144%;
    height: 149%;
    top: -24px;
    left: -16px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/arod-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);

}

.pic3{
    margin-top: -94px;
    margin-left: 103px;
}
.pic3:before{
    content: "";
    position: absolute;
        width: 159%;
    height: 162%;
    top: -26px;
    left: -23px;

    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/jenn-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);

}


.pic4{
margin-top: -19px;
}

.pic4:before{
content: "";
    position: absolute;
    width: 135%;
    height: 139%;
    top: -14px;
    left: -15px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/alexa-edit.jpg);
    background-position: center center;
    background-size: 90%;
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg);
}


.pic5{
margin-top: -19px;
    margin-left: -41px;
}

.pic5:before{
    content: "";
    position: absolute;
    width: 144%;
    height: 149%;
    top: -18px;
    left: -16px;
	z-index: -1;
    background: url(../images/weddingpartyphotos/edit/alyssa-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);

}

.pic6{
    margin-left: 103px;
    margin-top: -94px;
}

    .pic6:before{
    content: "";
    position: absolute;
    width: 144%;
    height: 149%;
    top: -19px;
    left: -21px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/ab-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}
.pic7{
    margin-top: -19px;
}
   .pic7:before{
    content: "";
    position: absolute;
    width: 146%;
    height: 149%;
    top: -18px;
    left: -20px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/Chris-edit.jpg);
    background-position: center center;
    background-size: 87%;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}


.pic8{
    margin-top: -19px;
    margin-left: -41px;
}
   .pic8:before{
        content: "";
    position: absolute;
    width: 188%;
    height: 188%;
    top: -43px;
    left: -40px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/pat-edit.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}


.pic9{
    margin-top: -94px;
    margin-left: 103px;
}
.pic9:before{
content: "";
    position: absolute;
    width: 137%;
    height: 140%;
    top: -18px;
    left: -16px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/ping-edit.jpg);
    background-position: center center;
    background-size: 81%;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}


.pic10{
	margin-top: -19px;
}
.pic10:before{
    content: "";
    position: absolute;
    width: 144%;
    height: 149%;
    top: -24px;
    left: -16px;
    z-index: -1;
    background: url(../images/weddingpartyphotos/edit/jay-edit.jpg);
    background-position: center center;
    background-size: 80%;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}



.quote-div{
height:100%;
width:45%;
}
.amatic{
font-family: 'Amatic SC', Arial, sans-serif;
}

.small-date{
    position: absolute;
    font-size: 11px;
    top: 15px;
    right: -27px;
    font-family: 'Courier New', Arial, sans-serif;
}
.icon-head{
display:flex;
align-items:center;
justify-content:center;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 4px double #26a69a;
}
.icons{
height:90px;
width:90px;
background-size:90px 90px;
}
.first-icon{
background: url(../images/icons/bow-tie.svg);
}
.second-icon{
background: url(../images/icons/engagement-ring.svg);
}
.third-icon{
background: url(../images/icons/champagne.svg);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .image-parallax{
	transition: 0s linear;
        transition-property: background-position:
}
  .parallax-container .section {
    width: 100%;
  }

.first-container .icon-block h6{
   font-weight: bold;
}
.first-container .icon-block ul span{
   margin: 0 10px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.container{
width:100%;
padding: 0 10%;
}
.side-nav-button-container{
    position: fixed;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    width: 9px;
    z-index: 40;
	
}

a.button-collapse{
margin: 0 -10px;
}
.side-nav-button{
    height: 32px;
    /* padding-left: 3px; */
    display: flex;
    width: 109px;
    left: -42px;
    opacity: 0;
    transform: rotate(90deg);
    color: #000;
    background: silver;
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 3px 1px;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.unburger-menu li a{
 font-size:.8em;
}
.disabled{
  left:-133px
}
@media only screen and (min-width: 1440px) and (max-width:3000px){
.parallax-container{
min-height:470px;
}
}

@media only screen and (max-width: 660px){
.row .col.s6{
margin: auto;
}
.quote-div{
display:none;
}
.row-diamonds{
display:flex;
}
#floating-panel{
    flex-wrap:wrap;
}
#floating-panel select, #floating-panel input{
   
}

}









@media only screen and (max-width : 700px) {
  
  .ajb-logo-pin{
	left: 34% !important;
	top:-118px !important;
	}
	.login-wrap{
	width:80% !important;
	}  
    

.ui.error.message{
    display:none;
    height: 109px;
    width: 200px;
    align-items: center;
    justify-content: center;
    /* margin: 1em 0; */
    background: #f8f8f9;
    padding: 0.2em;
    line-height: 0.9285em;
        }

#floating-panel{
    flex-wrap:wrap;
    display:none !important;
    z-index:-500 !important;
    opacity: 0;
}
#mobile-directions{
        background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    
    display:flex !important;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
    position: absolute;
    top: 10px;
    z-index: 5;
    left: 0;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    font-size: 14px;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: flex !important;
    width: 100%;
}
#mobile-directions input, #mobile-directions select{
   padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 8px;
    box-shadow: inset 0px 1px 4px 1px; 
    display: block;
    font-weight:18px;    
}

#mobile-directions input{
	height: 20px;
        width: 92%;
}
#mobile-directions select{
	height: 45px;
}
.image-two{
background-position: 47% -22.98px !important;
}


}

.main-container{
	width:100vw;
	height:100vh;
	background: url('../images/Algonkian-Park-Sunset-31.jpg');
	background-size:cover;
	background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
}
.login-wrap{
    width:50%; 
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    border: 4px solid rgba(0,0,0,0.1);
	position:relative;
    align-items:center;
}
.login-wrap .ui.input{
   width:90% !important;
   margin:15px 0 !important;
}
.login-wrap .ui.input input{
padding: 1em !important;
}
.login-wrap .button{
   width:200px;
   display: flex !important;
   align-items:center;
  justify-content:center;
   margin-top:25px !important;
   box-shadow: inset 0px 0px 20px 2px #767676, 0px 4px 9px 0px rgb(0, 0, 0) !important;
   height:50px;
}
.visible.content{
    position: relative;
    height: 100%;
    /* margin-right: 1.5em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden.content{
    /* margin-right: 1.5em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui.error.message{
    display:none;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* margin: 1em 0; */
    background: #f8f8f9;
    padding: 0.2em;
    line-height: 0.9285em;
	}
    .ajb-logo-pin{
	position: absolute;
    height: 150px;
    width: 150px;
    top: -112px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    left:42%;
}
.logo-inner{
    position: absolute;
    z-index: 20;
    top: 57px;
    text-shadow: 0px 2px 4px rgba(0,0,0,1);
    left: -25px;
    font-size: 90px;
    font-family: 'Montez', Arial, sans-serif;
}
#heart {
    
    width: 101px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 89px;
    height: 146px;
    background: #d41449;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 62px 73px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    /* box-shadow: 0px 4px; */
}
#heart:after {
    left: -41px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(49deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 101% 100%;
}
.gm-blue{
 	border: 6px solid rgba(0, 137, 236, 0.36);
	transition: 1s all linear;
}
.bm-purp{
	border: 6px solid rgba(199, 102, 232, 0.26);
	transition: 1s all linear;
}
.diamond:hover{
	border: 6px solid #333;
}
.party-container .section{
	position:relative;
}
.row-quote{
    position:absolute;
    display:none;
    z-index:50;
    height: 90%;
    background: #e8e8e8;
    left: 5%;
    top: 5%;
    z-index: 50;
    border-radius: 15px;
    padding: 25px;
    flex-direction:column;
    justify-content:space-between;
    border: 2px solid white;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}
.image-box{
    height: 150px;
    width: 150px;
    position: absolute;
    right: 15px;
    top: -50px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    background: red;
    border-radius: 75px;
    border: 3px solid white;
}
.person-box{
   padding-top:24px;
}
.controls{
   height:30px;
   font-size: 70px;
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items:center;
}
.person-box .name-title{
   font-family: "Sacramento", Arial, sans-serif;
}
.book-button{
	width: 100%;
    background: lightgray;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 0.5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}
.first-container p{
  text-align:center;
}
.inner-heart{
 font-size: 100px;
    font-family:'Roboto', 'Arial', sans-serif;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    opacity: .9;
    line-height: 30px;
}

/*Parallax backgrounds*/

.image-parallax{
   box-shadow: inset 0px 9px 17px -9px rgb(0, 0, 0);
}
.image-parallax.image-one{
    height: 511px;
    width: 100%;
    background: url(../images/ajab-bg1.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 65% -48px;
}

.image-parallax.image-two{
    height: 426px;
    width: 100%;
    background: url(../images/ajab-bg2.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0px;
    background-size: cover;
    background-position: 47% -118px;
}
.image-parallax.image-three{
       height: 516px;
    width: 100%;
    background: url(../images/ajab-bg9.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0px;
    background-size: cover;
    background-position: 55% -118px;
}
.image-parallax.image-four{
   height: 473px;
    width: 100%;
    background: url(../images/ajab-bg6.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0px;
    background-size: cover;
    background-position: 66% 36%;
}
.image-parallax.image-five{
height: 473px;
    width: 100%;
    background: url(../images/ajab-bg5.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0px;
    background-size: cover;
    background-position: 44% 65%;
}
#footer a{
text-decoration: underline;
}
.get-directions{
    width: 45%;
    height: 40px;
    background: #b1dcfb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    /* color: black; */
    border-radius: 8px;
    /* border-top: 3px solid rgba(33, 68, 93, 0.08); */
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgb(41, 41, 41);

}
